<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}(%L) - %msg%n"/>
        </Console>
        <!--<File name="MyFile" fileName="serverLog.log" immediateFlush="true" append="true">-->
        <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg: %L%n"/>-->
        <!--</File>-->
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="FileInfo"/>-->
        </Root>
    </Loggers>
</Configuration>